<div class="text-center">
<button type="btn" (click)="login()">click</button>
<button (click)="logout()">click</button>


@if(islogin){
    <h1>this is login now</h1>
}
@else{

        <div>this is logout now</div>

} 
</div>

<div class="encaps">parants component</div>



<!-- <ul>
    <li>{{emp.id}}- {{emp.name}}</li>
</ul> -->
<!-- <table border="1" class=" text-center">
    <tbody>
    <tr>
        <th>sr no.</th>
        <th>first</th>
    </tr>
    @for(emp of employee; track emp.id; let i=$index,e=$even,o=$odd){ 
    <tr >

        
        @if (e) {

      
        <td class="bg-slate-300">{{i+1}}</td>
        <td class="bg-slate-300">{{emp.name}}</td>
    }
        @if (o) {

      
        <td class="bg-slate-800">{{i+1}}</td>
        <td class="bg-slate-800">{{emp.name}}</td>
    }
    </tr>

}
</tbody>
</table>


<app-list-item></app-list-item> -->
<h1>example 4</h1>
<app-list-item></app-list-item> 

<router-outlet></router-outlet>